body {
    background-color: white;
  }
  
  h4{
    font-family: 'Merriweather', serif;
  }
  .intro {
    height: 350px;
    background-size: cover;
    text-align: center;
    color: white;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .aboutUs {
    text-align: center;
    color: black;
    font-size: small;
    font-family: 'Yantramanav', sans-serif;
  }
  .services {
    height: 150px;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: small;
    font-family: 'Yantramanav', sans-serif;
  }